
.tarjeta {
  
  width: 90%;
  max-width: 450px;
  height: fit-content;
  
  background-color: #2e2e36;
  border-radius: 24px;
  border: 1px solid rgba(2, 247, 222, 0.969);
  padding: 20px;

  box-shadow: 0 20px 40px rgba(2, 247, 222, 0.969); 

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tarjeta-header {
  display: flex;
  flex-direction: column;
  gap: 2px; 
  margin: 0;
}

.tarjeta-title {
  font-size: 1.8rem; /* ~20px en vez del h1 gigante predeterminado */
  margin: 0;
  line-height: 1.2;
}

.tarjeta-autor {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 10px;
  color: #a0a0a0;
}

.tarjeta-categorie {
  font-size: 0.75rem;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #777;
}

.tarjeta-cuerpo {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center; 
}

.tarjeta-imagen {
  width: 100%;
  height: auto;       
  object-fit: cover;   
  border-radius: 16px;
}

.tarjeta-botones {
    display: flex;
    gap: 60px;
    width: 100%;
}

.tarjeta-botones button {
    flex: 1;
    border-radius: 8px;
    padding: 6px;
    font-size: 0.95rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease; /* Suaviza las animaciones al pasar el mouse */
    border: none;
    outline: none;

    background-color: #ffffff; /* Color violeta llamativo */
    color: #2e2e36;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.tarjeta-skip:hover {
  background-color: #434345;
  box-shadow: 6px 3px 10px rgba(163, 4, 4, 0.6);;
  color: white;
  transform: translateY(-2px);
}

.tarjeta-appeals:hover {
  background-color: #7cb1a9;
  box-shadow: 6px 3px 10px rgba(2, 247, 222, 0.969);
  color: white;
  transform: translateY(-2px);
}
