<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">
<head th:replace="~{fragments/layout :: head}"></head>
<body>
<div id="app">
    <div th:replace="~{fragments/layout :: sidebar}"></div>
    <div id="main">
        <div class="page-heading">
            <h3>Grupos Familiares</h3>
        </div>
        <div class="page-content">
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID Grupo</th>
                            <th>Familia (Apellido)</th>
                            <th>Titulares</th>
                            <th>Acción</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="familia : ${familias}">
                            <td th:text="${familia.id}"></td>
                            <td class="text-bold-500" th:text="${familia.apellidoFamilia}"></td>
                            <td th:text="${familia.socios.size()}"></td>
                            <td>
                                <a th:href="@{/familias/{id}(id=${familia.id})}" class="btn btn-sm btn-info">Detalle</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/layout :: scripts}"></div>
</body>
</html>